<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
</head>
<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    회원 가입
                </div>
                <div class="card-body">
                    <form id="registerForm" action="/member/join" method="post">
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                아이디
                            </span>
                            <input type="text" name="mid" class="form-control">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                비밀번호
                            </span>
                            <input type="password" name="mpw" class="form-control">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                이메일
                            </span>
                            <input type="email" name="email" class="form-control">
                        </div>
                        <div class="my-4">
                            <div class="justify-content-center">
                                <button type="submit" class="btn btn-primary submitBtn">가입</button>
                                <button type="reset" class="btn btn-secondary">초기화</button>
                            </div>
                        </div>
                    </form>
                </div><!--card-body end-->
            </div><!--card end-->
        </div>
    </div>
</div>
<script layout:fragment="script" th:inline="javascript">
    const error=[[${error}]]
    if(error && error==="mid"){
        alert("동일한 아이디를 가진 계정이 존재합니다.");
    }
</script>
</html>